/* Tùy chỉnh toast giống modal */
.custom-toast {
  background-color: #343a40 !important; /* Màu nền giống bg-dark */
  color: white !important; /* Màu chữ trắng */
  border-radius: 0.375rem !important; /* Border-radius giống modal */
  padding: 15px !important; /* Padding giống modal */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* Khoảng cách giữa văn bản và icon */
  width: 400px; /* Độ rộng tự động vừa với văn bản */
   /* Đặt max-width để không quá rộng */
  text-align: center; /* Căn giữa nội dung */
  word-wrap: break-word; /* Đảm bảo văn bản không bị tràn ra ngoài */
}

/* Thêm hiệu ứng di chuyển từ trên xuống */
.custom-toast-enter {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1s ease, opacity 0.5s ease;
}

.custom-toast-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.custom-toast-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 1s ease, opacity 0.5s ease;
}

.custom-toast-exit-active {
  transform: translateY(-100%);
  opacity: 0;
}

/* Tùy chỉnh icon check */

